body,html {
	background: #4C6A8D;
	height: 100%;
}
.app-container {
	background: #0C9DA9;
	height: 100%;
}
.chat-room-holder {
	padding: 20px 0;
}
.messages-holder {
	background: white;
	height: 400px;
	padding: 20px;
	overflow: scroll;
}
.message-holder {
	font-size: 14px;
}
.message-part {
	display: inline-block;
	padding: 0 10px;
}
.message-author {
	text-align: right;
	width: 20%;
}
.message-content {
	width: 60%;
}
.message-date {
	width: 19%;
}
.new-message-holder {
	background: #333;
	height: 40px;
	padding: 3px 0;
}